.container {
    width: 250px;
    height: 400px;
    border: 1px solid silver;
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
.container img {
    width: 240px;
    height: 300px;
}